<%- include('../partials/header') %>
<h2><%=title%></h2>
  <p>Seattle's Baseball Team!</p>
  <p><img class="pic" src="EJS/Mariners.jpeg" /</p>
  <p>Seattle's Baseball Team. The Seattle Mariners.</p>
<%- include('../partials/footer') %>