<%- include('../partials/header') %>
<h2><%=title%></h2>
  <p>Seattles Basketball Team.</p>
  <p><img class="pic" src="EJS/Sonics.jpeg" /</p>
  <p>Seattle's Basketball Team. The Seattle Sonics. Bring them back!!!</p>
<%- include('../partials/footer') %>