<%- include('../partials/header') %>
<h2><%=title%></h2>
  <p>Seattle's Football Team.</p>
  <p><img class="pic" src="EJS/Seahawks.jpeg" /</p>
  <p>Seattle's football team. The Seattle Seahawks.</p>
<%- include('../partials/footer') %>