<%- include('../partials/header') %>
<h2><%=title%></h2>
  <p>This Node.js website utilizies Express.js and EJS templates to showcase Seattle's sports Teams.</p>
  <p>Seattle has the best sport culture!</p>
  <p><img class="pic" src="EJS/Seattle.jpeg" /</p>
  <p>This Page Is About My Favortie Seattle Sports Teams.</p>
<%- include('../partials/footer') %>